#ready{
font-family: 'Lucida Sans';
color: gray;
}
#ready:hover{
color: black;
}

.counter-button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
