#ready{
    font-family: Helvetica;
    color: gray;
}
#ready:hover{
    color: black;
}

#image{
    width: 100px;;
    height: auto;
}

.proposal{
    font-family: Helvetica;
    font-size: 2em;
}

.counter-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
}


.custom-button {
    display: block;
    width: 8em;
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap's primary color */
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Darker shade of primary color on hover */
  }